.campBanner {
    background: url('/public_html/media/images/17mbball_wallpaper.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    position: relative;
    padding-top: 120px;
    padding-bottom: 45px;
    box-shadow: 0px 0px 2px #333;
}
.campInfo {
    background: white;
    padding-bottom: 10px;
    box-shadow: 0px 0px 2px #333;
}
.campInfo h1, .relatedCamps h3 {
    border-bottom: 1px solid #dbddd3;
    padding: 10px 0;
    color: #002d5d;
}
.campInfo button {
    width: 33.4%;
    margin-left: 33.3%;
    margin-top: 15px;
    font-size: 18pt;
    padding: .4em 0;
    background: #002d5d;
    color: white;
}
.campInfo button a {
    display: inline-block;
    width: 100%;
    padding: .4em 0;
    margin: -.4em 0;
    color: white;
    transition: background-color 0.3s ease-in-out;
}
.campInfo button a:hover {
    cursor: pointer;
    text-decoration: none;
    background: #003da7;
    transition-timing-function: ease-in-out;
}
.whenWhoPrice {
    display: flex;
    justify-content: space-around;
    margin-bottom: 15px;
    border-bottom: 1px solid #dbddd3;
}
.whenWhoPrice div {
    text-align: center;
    flex-grow: 1;
    margin-bottom: 10px;
    padding: 0 1em;
}
.whenWhoPrice div+div {
    border-left: 1px solid #dbddd3;
}
.whenWhoPrice h4 {
    color: #002d5d;
}
.noRegistration {
    color: red;
    padding-top: 15px;
    border-top: 1px solid #ddd;
}
/*.relatedCampFlex {*/
/*    display: flex;*/
/*    justify-content: space-around;*/
/*    flex-wrap: wrap;*/
/*}*/
/*.relatedCamps {*/
/*    background: white;*/
/*    margin-top: 15px;*/
/*    box-shadow: 0px 0px 2px #333;*/
/*}*/
/*.relatedCamps div+div {*/
/*    border-left: 1px solid #dbddd3;*/
/*}*/
/*.relatedCamp {*/
/*    flex-grow: 1;*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    align-items: center;*/
/*    padding: 0 10px;*/
/*    margin: 10px 0;*/
/*}*/
/*.relatedCamp h4 {*/
/*    color: #002d5d;*/
/*}*/
/*.relatedCamp * {*/
/*    text-align: center;*/
/*}*/
/*.relatedCamp button {*/
/*    background: #002d5d;*/
/*}*/
/*.relatedCamp button a {*/
/*    color:white;*/
/*    display: inline-block;*/
/*    width: 100%;*/
    
/*}*/
/*.relatedCamp button a:hover {*/
/*    text-decoration: none;*/
/*}*/
@media screen and (max-width: 991px) {
    .campInfo button {
        width: 225px;
        margin-left: calc(50% - 100px);
    }
}
@media screen and (max-width: 767px) {
    .campBanner {
        padding-top: 20px;
    }
}
@media screen and (max-width: 575px) {
    .campBanner {
        background: none;
        padding-top: 0;
        padding-bottom: 0;
    }
}