.campBanner {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
    padding-top: 120px;
    padding-bottom: 45px;
    box-shadow: 0px 0px 2px #333;
}
.campInfo {
    background: white;
    padding-bottom: 10px;
    box-shadow: 0px 0px 2px #333;
}
.campInfo h1, .relatedCamps h3 {
    border-bottom: 1px solid #dbddd3;
    padding: 10px 0;
    color: #002d5d;
}
.campInfo .registerButton {
    display: inline-block;
    width: 33.4%;
    padding: .4em 0;
    margin: -.4em 0;
    background: #002d5d;
    color: white;
    transition: background-color 0.3s ease-in-out;
    margin-left: 33.3%;
    margin-top: 15px;
    font-size: 20pt;
    text-align: center;
    margin-bottom: 0;
}
.campInfo .registerButton:hover {
    cursor: pointer;
    text-decoration: none;
    background: #003da7;
    transition-timing-function: ease-in-out;
}
.whenWhoPrice {
    display: flex;
    justify-content: space-around;
    margin-bottom: 15px;
    border-bottom: 1px solid #dbddd3;
}
.whenWhoPrice div {
    text-align: center;
    flex-grow: 1;
    margin-bottom: 10px;
    padding: 0 1em;
}
.whenWhoPrice div+div {
    border-left: 1px solid #dbddd3;
}
.whenWhoPrice h4 {
    color: #002d5d;
}
.noRegistration {
    color: red;
    padding-top: 15px;
    border-top: 1px solid #ddd;
}
@media screen and (max-width: 991px) {
    .campInfo a {
        width: 230px;
        margin-left: calc(50% - 115px);
    }
}