.registrationBanner {
    background: url('/public_html/media/images/football (1).jpg');
    background-repeat: no-repeat;
    position: relative;
    padding-top: 120px;
    padding-bottom: 45px;
}
.registrationInfo {
    box-shadow: 0px 0px 2px #333;
    background: white;
    padding-bottom: 5px;
}
.contactInfo {
    box-shadow: 0px 0px 2px #333;
    background: white;
    padding-bottom: 5px;
}
.contactInfo h1 {
    border-bottom: 1px solid #dbddd3;
    padding: 10px 0;
    color: #002d5d;
}

.registrationInfo h1 {
    padding: 10px 0 0;
    color: #002d5d;
    /*text-transform: uppercase;*/
}
table {
    box-shadow: 0px 0px 2px #333;
    font-size: 1.1rem;
}
table thead tr th {
    text-transform: uppercase;
}
.alertMessage {
    text-transform: uppercase;
    color: red;
}
@media screen and (max-width: 767px) {
    .registrationBanner {
        padding-top: 20px;
    }
}
@media screen and (max-width: 575px) {
    .registrationBanner {
        background: none;
        padding-top: 0;
        padding-bottom: 0;
    }
}