.filterDiv {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}
.filterDiv span {
    margin-left: 10px;
}
.months {
    border: none;
    box-shadow: 0 0 1px #333;
    height: 18.5px
}
.apply {
    padding-top: 1px;
    padding-bottom: 1px;
    font-size: 12px;
    box-shadow: 0 0 1px #333
}
.apply:hover {
    cursor: pointer;
    background: #ddd;
}
.row {
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
}
.row {
    border-top: 1px solid #ddd;
}
.row {
    background: #F9F9F9;
}
.scheduleBanner {
    background: url('/2-react-router/src/media/images/football (1).jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    position: relative;
    padding-top: 120px;
    padding-bottom: 45px;
}
.scheduleInfo {
    background: white;
    padding-bottom: 10px;
    box-shadow: 0px 0px 2px #333;
}
.scheduleInfo h1 {
    border-bottom: 1px solid #dbddd3;
    padding: 10px 0;
    color: #002d5d;
    margin-bottom: 20px;
}
.row h3 {
    padding-bottom: 5px;
    border-bottom: 1px solid #dbddd3;
    font-weight: bold;
}
.row h3 a {
    color: #002d5d;
}
.row h5 {
    text-align: center;
}
.date {
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px solid #dbddd3;
}
.register {
    display: flex;
    align-items: center;
    justify-content: center;
    border-left: 1px solid #dbddd3;
    text-transform: uppercase;
}
@media screen and (max-width: 767px) {
    .scheduleBanner {
        padding-top: 20px;
    }
}
@media screen and (max-width: 575px) {
    .scheduleBanner {
        background: none;
        padding-top: 0;
        padding-bottom: 0;
    }
}