.heading {
    border-bottom: 1px solid #dbddd3;
    padding: 10px;
    color: #003da7;
}
.tintContainer {
    height: 600px;
    overflow-y: scroll;
    margin-bottom: 15px;
}
.noPadding {
    padding: 0;
    background: white;
    box-shadow: 0px 0px 2px #333;
}
@media screen and (max-width: 767px) {
    .noPadding {
        display: none;
    }
}